---
layout: default.hbs
subject: Let's Build HTML Emails with Grunt & Assemble!! 
frontMatterTest: TEST PASSED

---

<style>
  table.facebook td {
    background: #3b5998;
    border-color: #2d4473;
  }

  table.facebook:hover td {
    background: #2d4473 !important;
  }

  table.twitter td {
    background: #00acee;
    border-color: #0087bb;
  }

  table.twitter:hover td {
    background: #0087bb !important;
  }

  table.google-plus td {
    background-color: #DB4A39;
    border-color: #CC0000;
  }

  table.google-plus:hover td {
    background: #CC0000 !important;
  }

  .content-picture {
    font-family: Helvetica; 
    color: #CBCBCB; 
    font-size: 20px; 
    width: 580px;
  }

  .template-label {
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
  }

  .callout .panel {
    background: #ECF8FF;
    border-color: #b9e5ff;
  }

  .header {
    background: grey;
  }

  .footer .wrapper {
    background: #ebebeb;
  }

  .footer h5 {
    padding-bottom: 10px;
  }

  table.columns .text-pad {
    padding-left: 10px;
    padding-right: 10px;
  }

  table.columns .left-text-pad {
    padding-left: 10px;
  }

  table.columns .right-text-pad {
    padding-right: 10px;
  }

  @media only screen and (max-width: 600px) {

    table[class="body"] .right-text-pad {
      padding-left: 10px !important;
    }

    table[class="body"] .left-text-pad {
      padding-right: 10px !important;
    }
  }
</style>




<tbody>
  <tr>
    <td>

      <!-- content start -->

      <table class="row">
        <tbody><tr>
            <td>
              <img class="content-picture" width="580" height="300" src="#" alt="Click to View Picture" >                 
            </td>
          </tr>
        </tbody>
      </table>



      <table class="row">
        <tbody><tr>
            <td class="wrapper">

              <!-- Article Start -->
              <table class="six columns">
                <tbody><tr>
                    <td>
                      <h3>Two-Column Layout</h3><br>
                      <p class="lead">This is the lead.</p>
                      <p>Let's test the .yml file to ensure the data is piping through:</p>
                      <p><strong>&rarr; {{ constants.test }}</strong></p>
                      <p>Cool. Now let's test the Front Matter too:</p>
                      <p><strong>&rarr; {{ frontMatterTest }}</strong></p>
                      <p>Sweet. <strong>Both</strong> tests pass. Use Front Matter for page-specific stuff, and use the constants.yml file to declare anything that will remain constant across your campaign.</p> 
                    </td>
                    <td class="expander"></td>
                  </tr>
                </tbody>
              </table>

              <!-- Highlight Panel -->
              <table class="six columns">
                <tbody><tr>
                    <td class="panel">
                      <p>Stop. Panel time.</p>
                    </td>

                    <td class="expander"></td>
                  </tr>
                </tbody>
              </table>

              <!-- Last Paragraph(s) -->
              <table class="six columns">
                <tbody><tr>
                    <td>
                      <br>

                      <p>That's all there is to it. You are now ready to start coding some HTML email with Zurb.</p>
                      <br>


                      <table class="button">
                        <tbody><tr>
                            <td>
                              <a href="#">CTA goes here! »</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                    </td>
                    <td class="expander"></td>
                  </tr>
                </tbody>
              </table>

            </td>
            <td class="wrapper last">


              <!-- (Second Column Start) -->


              <!-- Resources -->
              <table class="six columns">
                <tbody><tr>
                    <td class="panel">
                      <h6>Cool Resources</h6><br>
                      <table>
                        <tbody><tr>
                            <td>
                              <a href="#">Blog »</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <hr>
                      <table>
                        <tbody><tr>
                            <td>
                              <a href="#">Newsletter »</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                    </td>
                    <td class="expander"></td>
                  </tr>
                </tbody>
              </table>
              <br>

              <!-- Highlight Panel -->
              <table class="six columns">
                <tbody><tr>
                    <td class="panel">
                      <h6>Spread the word</h6>
                      <p>Maybe your users want to share this excitement on Facebook? Here's an example of a link for that.<br><hr> <a href="https://www.facebook.com/sharer/sharer.php?u={{ links.social.share }}">Play with a friend »</a></p>
                    </td>

                    <td class="expander"></td>
                  </tr>
                </tbody>
              </table>


              <br>
              <table class="six columns">
                <tbody><tr>
                    <td class="panel">
                      <h6 style="margin-bottom:5px;">We're Social:</h6>
                      <table class="tiny-button facebook">
                        <tbody><tr>
                            <td>
                              <a href="#">Facebook</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <hr>

                      <table class="tiny-button twitter">
                        <tbody><tr>
                            <td>
                              <a href="#">Twitter</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <hr>
                      
                      <h6 style="margin-bottom:5px;">Customer Service:</h6>

                      <p>Phone:<br> 555-555-555</p>
                      <p>Email:<br> <a href="#">Email</a></p>
                    </td>
                    <td class="expander"></td>
                  </tr>
                </tbody>
              </table>

            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <br>
      <!-- Legal + Unsubscribe -->
      <table class="row">
        <tbody><tr>
            <td class="wrapper last">

              <table class="twelve columns">
                <tbody><tr>
                    <td align="center">
                      <center>
                        <p style="text-align:center;"><a href="#">Terms</a> | <a href="#">Privacy</a> | <a href="#">Unsubscribe</a></p>
                      </center>
                    </td>
                    <td class="expander"></td>
                  </tr>
                </tbody>
              </table>

            </td>
          </tr>
        </tbody>
      </table>

      <!-- container end below -->
    </td>
  </tr>
</tbody>

